@font-face {
    font-family: 'BebasNeue';
    src: url('/public/fonts/BebasNeueRegular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
	height: 100%;

  background-color: #2a2a2a;
}

.row {
  margin:0;
}

/***** HEADER ******/
.header__container {
  padding-top: 30px;
}

.header__container .header-link {
  padding: 0 5px;
  margin-top: 20px;
}

.header__container .header-link h3 {
  margin: 0 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  color: #ccc;
  font-size: 22px;
  font-family: 'BebasNeue';
}

.header__container .header-link h3:hover {
  border-bottom: 1px solid #eee;
  color: #eee;
}

/******** INDEX **************/
.index__container {
  margin-top: 50px;
}

.index__container .category__tile {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;

  background-size: 100%;
  background-repeat: no-repeat;
}

.index__container .category__tile:hover:after {
  height: 100%;
  width: 100%;
  display: block;
  content: "";
  background-color:rgba(255,255,255,0.05);
}

.index__container .category__tile .img-responsive {
  margin: auto;
}

.index__container .category__tile .tile--title {
  color:white;
  font-family: 'BebasNeue';
}

/******* PROJECT ****************/
.project__container {
  margin-top: 50px;
}

.project__container .picture__container {
  margin-bottom: 20px;
}

.project__container .picture__container .img-responsive {
  margin: auto;
}

.project__container .picture__container .back--text {
  text-align: center;
  font-family: 'BebasNeue';
  color: #ccc;
  cursor: pointer;
  font-size: 1.5em;
}

@media (max-width: 991px) {
  .project__container .picture__container .back--text {
    text-align: left;
    font-size: 1.0em;
  }
}

/********** CONTACT ***************/
.contact__container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact__container p {
  margin-left: 150px;
  margin-right: 150px;
  font-family: "BebasNeue";
  color: #fff;
}

.contact__container span {
  font-style: italic;
}

.contact__container ul {
  list-style-type: square;
  color: #fff;
  list-style-position: inside;
}

.contact__container hr {
  display: block;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
  border-style: inset;
  border-width: 1px;
}

.contact__container form {
  margin-left: 190px;
  margin-right: 150px;
  font-family: "BebasNeue";
  font-size: 20px;
}

.contact__container input {
  font-family: "Arial";
  font-size: 14px;
  margin-bottom: 10px;
}

.contact__container textarea {
  font-family: "Arial";
  font-size: 16px;
}

.contact__container .contact--title {
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 0px;
}

.contact__container .contact--email {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact__container .contact--resume {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  margin-top: 0px;
}

.contact__container .contact--info {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 0px;
}

.contact__container .contact--list {
  font-size: 30px;
  margin-bottom: 0px;
  color: #fff;
}

.contact__container .contact--listitem {
  font-size: 20px;
  font-family: "Tahoma";
  color: #fff;
  font-weight: lighter;
}
